html {
	box-sizing: border-box;
<<<<<<< Updated upstream
} 
=======
}
>>>>>>> Stashed changes

body {
	font-family: 'Varela Round', sans-serif;
	background-color: black;
	color: white;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
}

.card {
	box-shadow: 0 8px 16px 0 #1ed75f44;
	border: 2px solid #1fd662ff;
	margin: 8px;
}

.about-section {
	padding: 50px;
	text-align: center;
	background-color: black;
}

.container {
	text-align: left;
	background-color: black;
	padding: 0 16px;
}

<<<<<<< Updated upstream
.container::after, .row::after {
=======
.container::after,
.row::after {
>>>>>>> Stashed changes
	content: "";
	clear: both;
	display: table;
}

.container h2 {
	color: #1fd662ff;
}

#team-title {
	color: #1fd662ff;
}

.title {
	color: #1ed75fc4;
}

#last-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

<<<<<<< Updated upstream
/* Copyright */
=======

>>>>>>> Stashed changes
#copyright {
	position: fixed;
	width: 99%;
	bottom: 0%;
	color: white; 
	font-size: 14px;
	text-align: center;
<<<<<<< Updated upstream
}
	
/* Logo components */
#logo-container {
	position: fixed;
	width: 99%;
	top: 1%;
}
#logo-container a {
	display: block;
	margin: 0 auto; /* Top+Bottom Left+Right */
	width: 150px;
}
#logo {
	width: 150px;
}

/* Navbar / topbar */
#navbar-container {
	display: flex;
	justify-content: flex-end;
}
=======
}
>>>>>>> Stashed changes
