body {
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

#container {
    width: 150px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    float: left;
    margin-left: 20px;
}

.section-heading {
  background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    text-align: left;
    margin-top: 75px;
    margin-bottom:1px;
    font-size: 35px;
}

.column-2 {
    float: left;
    width: 45%;
    padding: 10px;
    margin:20px;
    height: auto;
    background-color: #1D1D1D;
}

.tile-1 {
    background: null;
    background-color: #1fd662ff;
    border-radius: 25px;
}

.song-heading {
    color: black;
    font-family: 'Varela Round', sans-serif;
    text-align: left;
    margin-top: 75px;
    margin-bottom:70px;
    font-size: 35px;
}

#create-playlist {
    padding: 5px 10px;
    background-color: #1D1D1D;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; 
    margin-bottom: 10px;
    margin-top: 10px;
}

#copyright {
	position: fixed;
	width: 100%;
	bottom: 0%;
	color: gray;
	font-size: 14px;
	text-align: center;
}
