body {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    background-color: black;
}

#heading {
    padding-top: 50px;
    color: white;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 15px;
    color: white; 
    font-family: 'Varela Round', sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: black;
    background-color: lightgray; /* Having trouble changing boxes to light gray!! */
    border: 2px solid #1fd662ff;
	border-radius: 20px;
}

textarea {
    resize: vertical;
    min-height: 150px;
    max-width: 100%;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
	color: white;
	transition: background-color 0.3s, transform 0.3s;
}

button#cancel {
	background-color: #1D1D1D;
}

button#cancel:hover {
    background-color: #2e2e2e;
	transform: scale(1.05);
}

button#submit {
    background-color: #1fd662;
}

button#submit:hover {
    background-color: #45a049;
	transform: scale(1.05);
}

h2 {
    margin-bottom: 25px;
}

#status-message {
	color: #1DB954;
}

#copyright {
    position: fixed;
    width: 99%;
    bottom: 0%;
    color: gray;
    font-size: 14px;
    text-align: center;
}

#logo-container {
    position: fixed;
    width: 99%;
    top: 1%;
}

#logo-container a {
    display: block;
    margin: 0 auto; 
    width: 150px;
}

#logo {
    width: 150px;
}
