body {
	background-color: black;
	color: white;
	font-family: 'Varela Round', sans-serif;
}

/* Logo components */
#logo-container {
	position: fixed;
	width: 99%;
	top: 1%;
}
#logo-container a {
	display: block;
	margin: 0 auto; /* Top+Bottom Left+Right */
	width: 150px;
}
#logo {
	width: 150px;
}

/* Navbar / topbar */
#navbar-container {
	display: flex;
	justify-content: flex-end;
}

/* User auth components */
#auth-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}
#logout-button {
	display: none; /* Do not display initially */
	padding: 5px 10px; /* Top+Bottom Left+Right */
	background-color: #1D1D1D;
	border: none;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

/* Spotify auth components */
#user-profile {
	display: none;
	background-color: #1D1D1D;
	border-radius: 20px; 
	width: 125px; 
	height: 75px; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	top: 20px;
	right: 20px;
}
#profile-image {
	display: none;
	width: 30px; 
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	margin-left: 45px;
	margin-top: 10px;
}
#display-name {
	display: none;
	text-align: center;
	font-size: 16px; 
	margin-top: 10px; 
	color: white;
}

/* Page body content */
#section-heading {
	text-align: left;
	margin: 75px 20px 40px 20px; /* Top Right Bottom Left */
	font-size: 35px;
}
.column-2 {
	float: left;
	width: 48%;
	padding: 10px;
	margin: 20px;
	height: 250px;
}
.tile-1,
.tile-2 {
	background-color: #1fd662ff;
	border-radius: 25px;
}
.tile-1:hover,
.tile-2:hover {
	background-color: #1fd662ff;
	color: white;
	transform: scale(1.01);
}
.project-text {
	text-align: center;
}
.tile-text {
	text-align: center;
	font-size: 50px;
}

/* Copyright */
#copyright {
	position: fixed;
	width: 99%;
	bottom: 0%;
	color: gray;
	font-size: 14px;
	text-align: center;
}
