/* CSS Stylesheet for Friends List / Sidebar */

#friends-list {
	font-family: 'Varela Round', sans-serif;
	width: 250px;
	background-color: #1D1D1D;
	color: white;
	position: fixed;
	top: 0;
	left: -250px; /* Hides sidebar */
	height: 100%;
	overflow: auto;
	transition: left 0.3s;
}

#friends-list ul {
	list-style: none;
	padding: 0;
}

#friends-list li {
	text-align: center;
}

#toggle-sidebar {
	position: fixed;
	top: 10px;
	left: 10px;
	cursor: pointer;
	color: #8aff8a; /* Light green */
	font-size: 24px;
}

.nav-button {
	padding: 10px 20px; /* Top+Bottom Left+Right */
	background-color: black;
	border: 1px solid #8aff8a;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin: 10px;
	text-decoration: none;
	display: block;
}

.nav-button:hover {
	background-color: #1fd662ff;
	color: white;
	transform: scale(1.05);
}
