body {
	background-color: black;
	color: white;
	font-family: 'Varela Round', sans-serif;
}

/* Logo components */
#logo {
	display: block;
	width: 200px;
	margin: 0 auto; /* Top+Bottom Left+Right */
}

/* User auth components */
#login-button,
#signup-button {
	padding: 10px 20px; /* Top+Bottom Left+Right */
	background-color: #1D1D1D;
	border: none;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin: 10px;
	text-decoration: none;
	display: block;
}
#login-button:hover,
#signup-button:hover {
	background-color: #1fd662ff;
	color: white;
	transform: scale(1.05);
}

/* Page body components */
#body-container {
	width: 300px;
	margin: 0 auto; /* Top+Bottom Left+Right */
	padding: 20px;
	text-align: center;
}
#testing-text {
	color: gray;
	font-size: 14px;
}
#additional-buttons {
	margin-top: 20px;
}
.additional-button {
	padding: 10px 20px; /* Top+Bottom Left+Right */
	background-color: #1D1D1D;
	border: none;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin: 10px;
	text-decoration: none;
	display: block;
}
.additional-button:hover {
	background-color: #1fd662ff;
	color: white;
	transform: scale(1.05);
}

/* Copyright */
#copyright {
	position: fixed;
	width: 99%;
	bottom: 0%;
	color: gray;
	font-size: 14px;
	text-align: center;
}
