body {
	background-color: black;
	color: white;
	font-family: 'Varela Round', sans-serif;
}

/* Logo components */
#logo-container {
	position: fixed;
	width: 99%;
	top: 1%;
}
#logo-container a {
	display: block;
	margin: 0 auto; /* Top+Bottom Left+Right */
	width: 150px;
}
#logo {
	width: 150px;
}

/* Navbar / topbar */
#navbar-container {
	display: flex;
	justify-content: flex-end;
}

/* User auth components */
#auth-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}
#logout-button {
	display: none; /* Do not display initially */
	padding: 5px 10px; /* Top+Bottom Left+Right */
	background-color: #1D1D1D;
	border: none;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
#profile-button {
	display: none; /* Do not display initially */
	padding: 5px 10px; /* Top+Bottom Left+Right */
	background-color: #1D1D1D;
	border: none;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

/* Page body components */
#body-container {
	width: 700px;
	margin: 0 auto; /* Top+Bottom Left+Right */
	padding: 20px;
}
#section-heading {
	text-align: left;
	margin: 75px 0px 60px 0px; /* Top Right Bottom Left */
	font-size: 35px;
}
#ranking-container {
	text-align: left;
	margin-top: 20px;
}
.playlist-container {
	background-color: #1D1D1D;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 10px;
}
.playlist-item {
	margin-bottom: 10px;
}
.like-container {
	display: flex;
	align-items: center;
}
.image-button {
	display: inline-block;
	background-image: url('../assets/heart.png');
	width: 24px;
	height: 22px;
	border: none;
	cursor: pointer;
	margin-right: 20px
}
.image-button:hover {
	background-image: url('../assets/green.png');
}

/* Copyright */
#copyright {	
	position: fixed;
	width: 99%;
	bottom: 0%;
	color: gray;
	font-size: 14px;
	text-align: center;
}
