body {
	background-color: black;
	color: #000000;
	font-family: 'Varela Round', sans-serif;
}

/* Logo components */
#logo-container {
	position: fixed;
	width: 99%;
	top: 1%;
}
#logo-container a {
	display: block;
	margin: 0 auto; /* Top+Bottom Left+Right */
	width: 150px;
}
#logo {
	width: 150px;
}

/* Navbar / topbar */
#navbar-container {
	display: flex;
	justify-content: flex-end;
}

/* User auth components */
#auth-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}
#logout-button {
	display: none; /* Do not display initially */
	padding: 5px 10px; /* Top+Bottom Left+Right */
	background-color: #1D1D1D;
	border: none;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.card-body {
    border-radius: 5px;
    background-color: #1fd662ff;
    padding: 20px;
}

.btn-primary {
    background-color: black;
    border: 25px;
    color: white;
    cursor: pointer;
    padding: 2px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #808080;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgb(117, 117, 117);
}

.row-gutters {
    margin: auto;
}

/* Copyright */
#copyright {
	position: fixed;
	width: 99%;
	bottom: 0%;
	color: gray;
	font-size: 14px;
	text-align: center;
}
