/* CSS Stylesheet for Custom Scrollbar */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #1D1D1D;
}


/*::-webkit-scrollbar-button {
	background-color: #1D1D1D;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
}*/

/*::-webkit-scrollbar-button:vertical:start { /* Up Button */
	/*background-color: pink; /* Temporary */
/*}*/

/*::-webkit-scrollbar-button:vertical:end { /* Down Button */
	/*background-color: blue; /* Temporary */
/*}*/

/*::-webkit-scrollbar-button:horizontal:start { /* Left Button */
	/*background-color: orange; /* Temporary */
/*}*/

/*::-webkit-scrollbar-button:horizontal:end { /* Right Button */
	/*background-color: purple; /* Temporary */
/*}*/

::-webkit-scrollbar-thumb {
	background: #8aff8a;
}

::-webkit-scrollbar-thumb:hover {
	background: #6ecc6e;
}

::-webkit-scrollbar-corner {
	background: #1D1D1D;
}
