body {
	background-color: black;
	color: white;
	font-family: 'Varela Round', sans-serif;
}

#signup-button,
#login-button {
	padding: 5px 10px;
	background-color: #1D1D1D;
	border: none;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
#signup-button {
	float: right;
	margin-right: 10px;
}
#login-button {
	float: right;
	margin-right: 10px;
}

#user-profile {
	display: none;
	background-color: #1D1D1D;
	border-radius: 20px; 
	width: 125px; 
	height: 75px; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	top: 20px;
	right: 20px;
}
#profile-image {
	display: none;
	width: 30px; 
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	margin-left: 45px;
	margin-top: 10px;
}
#display-name {
	display: none;
	text-align: center;
	font-size: 16px; 
	margin-top: 10px; 
	color: white;
}

#container {
	width: 150px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
#logo {
	display: block;
	margin: 0 auto;
	width: 150px;
	float: left;
	margin-left: 20px;
}

.section-heading {
	background-color: black;
	color: white;
	font-family: 'Varela Round', sans-serif;
	text-align: left;
	margin-top: 75px;
	margin-bottom:70px;
	font-size: 35px;
}

.column-2 {
	float: left;
	width: 48%;
	padding: 10px;
	margin: 20px;
	height: 250px;
}
.tile-1 {
	background: null;
	background-color: #1fd662ff;
	border-radius: 25px;
}
.tile-2 {
	background-color: #1fd662ff;
	border-radius: 25px;
}
.tile-1:hover,
.tile-2:hover {
	background-color: #1fd662ff;
	color: white;
	transform: scale(1.01);
}
.tile-text {
	text-align:center;
	font-size:50px;
}

#copyright {
	position: fixed;
	width: 100%;
	bottom: 0%;
	color: gray;
	font-size: 14px;
	text-align: center;
}
