html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
}

#login-main-container {
  width: 50%;
  height: 75%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #008000;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  font-size: 20px;
  border: 10px solid #adff2f;
}

.top-left-corner {
  position: absolute;
  top: 8px;
  left: 16px;
}

.logo-picture {
	float: left;
}

#login-error-box {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 3px solid #8a0000;
  border-radius: 10px;
  background-color: #e58f8f;
  opacity: 0;
}

#login-box {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-details::placeholder {
  color: #696969;
}

.login-details {
  border: 3px solid #adff2f;
  margin-bottom: 10px;
 
  outline: none;
  padding: 0px 0px 5px 10px;
}

#submit-button {
  width: 100%;
  padding: 7px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  background-color: #adff2f;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
}